{{ define "inicio" }}
{{ template "cabecera"}}

        <table class="table">
            <thead>
                <tr>
                    <th>ID:</th>
                    <th>Nombre:</th>
                    <th>Correo:</th>
                    <th>Acciones:</th>
                </tr>
            </thead>
            <tbody>
                {{ range. }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Nombre }}</td>
                    <td>{{ .Correo }}</td>
                    <td>
                        <a name="" id="" class="btn btn-warning" href="/detalle?id={{.Id}}" role="button">Editar</a>    
                        <a name="" id="" class="btn btn-danger" href="/borrar?id={{.Id}}" role="button">Borrar</a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>

{{template "footer"}}
{{end}}