{{define "menuNavegacion"}}
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">Sistema <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="./inicio">Home</a>
        <a class="nav-item nav-link" href="./formularioCrear">Crear Empleado</a>
    </div>
</nav>
{{end}}